.btn-primary {
    background-color: #1c3b84;
    border-color: #1c3b84;
    color: #fff;
};

.fisi-y {
    border-color: #f0ad4e;
    color: #f0ad4e;
}

/* #main_header {
    position: fixed;
    top: 0;
    z-index: 999;
} */